.App {
  display: grid;
  gap: 20px;
  margin: 0 auto;
  height: 70vh;
}

.scorekeeper-container {
  margin: auto;
  border: 3px solid #ccc;
  border-radius: 15px;
  padding: 2rem;
  display: grid;
  min-width: 300px;
  background-color: white;
  box-shadow: 5px 5px 5px rgb(139, 131, 239);
  background-color: white;
}

.player-list {
  list-style-type: none;
  font-size: 1.3rem;
}
